html,
body,
#app{
    margin:0;
    padding: 0;
    list-style: none;
    height: 100%;
}
.w{
    width: 70%;
    margin: 0 auto;
}
.plan {
    font-size: 16px;
    color: #222222;
}

.littleText {
    font-size: 10px;
    color: #999999;
}



